<!DOCTYPE html>
<html>
  <head>
    <title>Borahae Library</title>
    <style>
      h1 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
      }
      .rang {
        color: black;
        font-family: Times New Roman, serif;
      }
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      #container {
        max-width: 728px;
        margin: 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1 class="rang">Borahae Library</h1>
      <img id="banner" src="http://127.0.0.1:5000/static/books.jpg" />

      <h2 class="rang">About Borahae</h2>
      <p>
        “Borahae” is a Korean phrase that translates to “I purple you” and is
        used as a term of endearment and affection. The phrase combines two
        Korean words: bora (violet) and saranghae (I love you).So as an ARMY(Fan
        of BTS) i created this library in their name. Here you will find all the
        books that I love and the books that BTS members recommended and many
        more books that anyone can read.
      </p>
      <h2 class="rang">Index</h2>
      <div style="text-align: center">
        <button>Contact Me</button>
      </div>
    </div>
  </body>
</html>
